<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rektgg.salert">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBpDwSSigz71S5ITu7v4acH3n6RcgNZik" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewUserActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ShopProfileActivity" />
        <activity android:name=".ShopListActivity" />
        <activity
            android:name=".PostActivity"
            android:parentActivityName=".ShopProfileActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopProfileActivity" />
        </activity>
        <activity android:name=".TestAPIActivity" />
        <activity android:name=".TestCurrentLocationAPI" />
        <activity android:name=".TestGPSActivity" />
        <activity android:name=".AboutActivity"></activity>
    </application>

</manifest>