<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.rektapps.scouty">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="net.rektapps.scouty.Application"
        android:allowBackup="true"
        android:icon="@drawable/temp_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBpDwSSigz71S5ITu7v4acH3n6RcgNZik" />

        <activity
            android:name="net.rektapps.scouty.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <!-- android:theme="@style/AppTheme.NoActionBar"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.rektapps.scouty.NewUserActivity" />
        <activity android:name="net.rektapps.scouty.LoginActivity" />
        <activity android:name="net.rektapps.scouty.SettingsActivity" />
        <activity android:name="net.rektapps.scouty.ShopProfileActivity" />
        <activity android:name="net.rektapps.scouty.ShopListActivity" />
        <activity
            android:name="net.rektapps.scouty.PostActivity"
            android:parentActivityName="net.rektapps.scouty.ShopProfileActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.rektapps.scouty.ShopProfileActivity" />
        </activity>
        <activity android:name="net.rektapps.scouty.TestAPIActivity" />
        <activity android:name="net.rektapps.scouty.TestCurrentLocationAPI" />
        <activity android:name="net.rektapps.scouty.TestGPSActivity" />
        <activity android:name="net.rektapps.scouty.AboutActivity"></activity>
    </application>

</manifest>